<section>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>CONTAT US</h2>
      </div>
    </div>
    <form [formGroup]="contactForm">
      <div class="row">
        <div class="col-md-12">
          <h4>Select 01</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">

          <div class="form-group">
            <label for="Name">Name</label>
            <input [ngClass]="{'has-danger':name.invalid && (name.dirty || name.touched)}" type="text" formControlName="name" class="form-control" placeholder="Name">
            <div class="form-control-feedback" *ngIf="name.errors && (name.dirty || name.touched)">
                <p class="invalid" *ngIf="name.errors.required">Name is required</p>
                
              </div>
          </div>

          <div class="form-group">
            <label for="Email">Email</label>
            <input  [ngClass]="{
              'has-danger': email.invalid && (email.dirty || email.touched)}" type="enail" formControlName="email" class="form-control" placeholder="Email">
            <div class="form-control-feedback" *ngIf="email.errors && (email.dirty || email.touched)">
              <p class="invalid" *ngIf="email.errors.required">Email is required</p>
              <p class="invalid" *ngIf="email.errors.pattern">Please enter a valid email</p>
            </div>

          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Minimal</mat-label>
              <mat-select name="food" formControlName="minimal">
                <mat-option *ngFor="let country of countryList" [value]="country">
                  {{country}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field>
              <mat-label>Disabled</mat-label>
              <mat-select name="food" formControlName="disable" disabled>
                <mat-option *ngFor="let country of countryList" [value]="country">
                  {{country}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="form-group">
            <mat-form-field class="example-full-width">
              <input type="text" [formControl]="disCountry" placeholder="Disabled Result" aria-label="Assignee" matInput
                formControlName="disabledResult" [matAutocomplete]="auto1">
              <mat-autocomplete #auto1="matAutocomplete" (optionSelected)="selected($event,1)">
                <mat-option *ngFor="let option of countries | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>
          </div>

        </div>
        <div class="col-md-6">

          <div class="form-group">
            <label for="Phone">Phone</label>
            <div  class="input-group">
              <div class="input-group-prepend">
                <div class="input-group-text">@</div>
              </div>
              <input [ngClass]="{
                'has-danger': phone.invalid && (phone.dirty || phone.touched)}"  type="number" formControlName="phone" class="form-control" placeholder="Phone Number">
               
            </div>
            <div class="form-control-feedback" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                <p class="invalid" *ngIf="phone.errors.required">Phone number is required</p>
                <p class="invalid" *ngIf="phone.errors.pattern">Mobile number is not valid</p>

              </div>
          </div>

          <div class="form-group">
            <label for="date">Date:</label>
            <mat-form-field>
              <input matInput formControlName="date" [matDatepicker]="picker" placeholder="Choose a date">
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
          </div>


          <mat-form-field class="example-chip-list">
            <mat-chip-list #chipList aria-label="Fruit selection">
              <mat-chip *ngFor="let coun of mulCountryList" [selectable]="selectable" [removable]="removable"
                (removed)="remove(coun)">
                {{coun}}
                <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
              </mat-chip>
              <input placeholder="multiple" #countryInput [formControl]="multiConCtrl" [matAutocomplete]="auto"
                [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
            </mat-chip-list>
            <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
              <mat-option *ngFor="let coun of filteredMulContries | async" [value]="coun">
                {{coun}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>

        </div>
      </div>
      <!-- <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button> -->
      <button [class.btn-deactivate]="contactForm.invalid" [disabled]="contactForm.invalid" type="submit" class="btn btn-success" (click)="onSubmit()">Submit</button>
    </form>
  </div>
</section>